/*
off brown #D0A576
light brown #c5a880
brown #532e1c
dark brown #0f0f0f

https://colorhunt.co/palette/226607 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.box{
  height: 175px;
  width: 175px;
  background-color: #D0A576;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  text-align: center;
  line-height: 175px;
  font-size: 100px;
  color: black;
}
.titleText {
  text-align: center;
  color: #0F0F0F;
}

h1.titleText {
  font-size: 2.5em;
}
p.titleText {
  font-size: 3em;
}
#main {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 585px;
  width: 595px;
  background-color: #532E1C;
  padding: 10px;
}
body {
  background-color: #D0A576;
  font-family: 'Noto Sans', sans-serif;
}
.hidden {
  display: none;
}
.unhidden {
  display: block;
}
#lightbox {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#x {
  position: absolute;
   top: 10px;
   right: 10px;
   width: 30px;
   height: 30px;
   z-index: 2;
}
#positionMessage {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 100%;
}
#boundaryMessage {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  padding: 30px;
  border: thick solid #532e1c;
}
#controls {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#newButton {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 40px;
  width: 100px;
  background-color: #C5A880;
  color: #0F0F0F;
}